@model MWN.Models.Note

@{
    ViewData["Title"] = "Edit";
}


<h2>Edit your note @Model.Title</h2>

@*<h4>Note</h4>*@
<hr />
<div style="height:30px;width:30px;">@Html.Raw(Model.NoteAvatar)</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="NoteAvatar" class="control-label"></label>
                <input asp-for="NoteAvatar" class="form-control" />
                <span asp-validation-for="NoteAvatar" class="text-danger"></span>
            </div>
            <div hidden>
                <label asp-for="OwnerId" class="control-label"></label>
                <input asp-for="OwnerId" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" hidden />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Changed" class="control-label"></label>
                <input asp-for="Changed" class="form-control" hidden />
                <span asp-validation-for="Changed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default btn-primary" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
